<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link rel="stylesheet" href="../../dist/all.css" />
<section class="xl:pt-12 xl:pb-16 bg-[#F8F8F8]">
  <div class="box mx-auto grid xl:grid-cols-12 gap-x-[30px]">
    <h2 class="col-span-2 col-start-6 xl:text-[28px] text-center">家具比較</h2>
    <ul class="col-span-8 col-start-3 mt-5 text-center">
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-3 text-xl">窩窩系統模組家具</p>
        <p class="col-span-2 col-start-5 text-[#797979] text-xl">組合式家具</p>
        <p class="col-span-2 col-start-7 text-[#797979] text-xl">實木家具</p>
      </li>
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-1 text-xl">可單人自行組裝</p>
        <span
          class="material-symbols-outlined col-span-2 col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <p class="col-span-2 col-start-5 text-[#797979]">不一定</p>
      </li>
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-1 text-xl">可多次重複拆裝</p>
        <span
          class="material-symbols-outlined col-span-2 col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-1 text-xl">床墊規格彈性大</p>
        <span
          class="material-symbols-outlined col-span-2 col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <p class="col-span-2 col-start-5 text-[#797979]">不一定</p>
        <p class="col-span-2 col-start-˙ text-[#797979]">不一定</p>
      </li>
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-1 text-xl">材質可長久使用</p>
        <span
          class="material-symbols-outlined col-span-2 col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <span
          class="material-symbols-outlined col-span-2 col-start-7 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
      <li
        class="grid xl:grid-cols-8 gap-x-[30px] py-3 border-b-[1px] border-[#B9B9B9]"
      >
        <p class="col-span-2 col-start-1 text-xl">小客車即可搬運</p>
        <span
          class="material-symbols-outlined col-span-2 col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
    </ul>
  </div>
</section>
